<div id="land-content">
<h1 id="land-head">A social medial platform for all things drinkable!</h1>

<div id="land-div">
  <button><a href="views/drinks/list">All Drinks</a></button> 
  <button><a href="/signup"> Sign Up</a></button>
</div>
</div>