<div id="land-content">

<h1 id="land-head">A social medial platform for all things drinkable!</h1>

<div id="land-div">
  <div class="nav-button button-e" id="">
  <div id="circle"></div>
    <a href="/alldrinks">All Drinks</a> 
    </div>
<div class="nav-button button-e" id="">
<div id="circle"></div>
  <a href="/signup"> Sign Up</a>
  </div>

</div>

</div>
