<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<div id="background">
<body>
  <nav>
    <div id="navbar">
      <div id="to-left">
        <p><a href="/"> Drink Lounge </a></p>
      </div>
        <div id="to-center">
            <div class="nav-button" id="button-e">
            <div id="circle"></div>
          <a href="/alldrinks">All Drinks</a>
          </div>
          <span> | </span>
            <div class="nav-button" id="button-e">
            <div id="circle"></div>
          <a href="/random">Random Drink</a> 
          </div>
          <span> | </span>
            <div class="nav-button" id="button-e">
            <div id="circle"></div>
          <a href="/search">Search Drinks</a>
          </div>  
        </div>

      <div id="to-right">
        {{#if user}}
            <div class="nav-button" id="button-e">
            <div id="circle"></div>
        <a href="/profile"> {{user.username}} </a>
        </div> 
        <span> | </span>
        {{!-- <a href="/post-create">Add a post</a>  --}}

          <div class="nav-button" id="button-e">
          <div id="circle"></div>
        <form id="logout-form" action="/logout" method="POST">
          <button>Logout</button>
        </form>
        </div>

        {{else}}
          <div class="nav-button" id="button-e">
          <div id="circle"></div>
        <a href="/signup">Signup</a> 
        </div>
        <span> | </span>

        <div class="nav-button" id="button-e">
        <div id="circle"></div>
        <a href="/login">Login</a>
        </div>
        {{/if}}
      </div> 
</div>
  </nav>

  {{{body}}}
  <script src='/javascripts/APIHandler.js'></script>
  <script src="/javascripts/script.js"></script>
</body>
</div>
</html>