<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" /> 
</head>

<div id="background">
<body>
  <nav>
    <div id="navbar">
      <div id="to-left">
        <a href="/"> <img src="/images/logo.png" alt="logo"> </a>
      </div>
        <div id="to-center">
            <div class="nav-button button-e" id="">
            <div id="circle"></div>
          <a href="/alldrinks">All Drinks</a>
          </div>
          <span> | </span>
            <div class="nav-button button-e" id="">
            <div id="circle"></div>
          <a href="/random">Random Drink</a> 
          </div>
          <span> | </span>
            <div class="nav-button button-e" id="">
            <div id="circle"></div>
          <a href="/search">Search Drinks</a>
          </div>  
        </div>

      <div id="to-right">
        {{#if user}}
            <div class="nav-button button-e" id="">
            <div id="circle"></div>
        <a href="/profile"> {{user.username}} </a>
        </div> 
        <span> | </span>
        {{!-- <a href="/post-create">Add a post</a>  --}}


        <form id="logout-form" action="/logout" method="POST">
          <div class="nav-button button-e" id="">
          <div id="circle"></div>
          <button id="logout-button">Logout</button>
          </div>
        </form>
        

        {{else}}
          <div class="nav-button button-e" id="">
          <div id="circle"></div>
        <a href="/signup">Signup</a> 
        </div>
        <span> | </span>

        <div class="nav-button button-e" id="">
        <div id="circle"></div>
        <a href="/login">Login</a>
        </div>
        {{/if}}
      </div> 
</div>
  </nav>

  {{{body}}} 
  
  <script src='/javascripts/APIHandler.js'></script>
  <script src="/javascripts/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 
</body>
</div>
</html>