body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background: linear-gradient(#072c41,#000000) fixed;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5em;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

/* form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%; 
}
  */
 

form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  height: 30px;
  padding: 0px 0px 1em 0px;
  list-style-type: none;
}

ul li {
  line-height: 20px;
}


#logout-form {
  margin: 0;
  padding: 0;
  width: auto;
  display: contents;
}

/* #logout-form button {
  width: auto;
  text-transform: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #00b7ff;
  font-size: 1.5em;
  display: inline-block;
  margin: 0;
  all: unset;
  z-index: 1;
} */

#form h2 {
  display: flex;
  justify-content: center;
}

#land-head{
  text-align: center;
  border-top: 1px solid black;
}

#land-div{
  text-align: center;
  justify-content: center;
  font-size: 1.2em;
  width: 70vw;

  display: flex;
  justify-content: space-evenly;
}

#land-content{
  display: flex;
  flex-direction: column;
  height: 50vw;
  justify-content: center;
  align-items: center;
}

#land-btn{
  width: 350px;
}

#all-cocktails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#all-cocktails .single-cocktail {
  flex-direction: row;  
  width: 200px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 20px 40px;
}

#background{
  background-color: rgba(255, 255, 255, 0.1);
}

.drink-info{
  font-size: large;
  color: white;
  margin: 0;
}

#all-head{
  text-align: center;
  color: white;
}

.single-cocktail a{
  font-size: large;
  color: #fff;
}

.search-container {
  color: white;
  text-align: center;
}

.browse-cocktails a {
  padding: 8px 5px;
  color: #FFFFFF;
}

input[type=text], .search-field {
  width: 700px;
  text-align: center;
  border: none;
  color: #FFFFFF;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 18px;
}

#navbar{
  display: flex;
  justify-content: space-between;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.1);
}


#to-center{
  margin: 0;
  color: white;
  font-size: 1.2em;
}

#to-right{
  font-size: 1.2em;
}

#to-right span {
  color: white;
  font-size: 1.5em;
}

#to-left {
  float: left;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}

.nav-button {
  display: inline-flex;
  height: 30px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 5px 5px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button-e {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-sizing: initial;
}

.button-e a {
  position: relative;
  transition: all .45s ease-Out;
  font-size: 1.2em;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 5px;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #BFC0C0;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

.button-e:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

.button-e:hover a {
  color: #2D3142;
  text-decoration: none;
}

#search-button {
    all: unset;
    z-index: 1;
    font-size: 1.5em;
    width: 100%;
    font-weight: 300;
    font-size: 1.6em;
}

#search-button:hover {
  color: black;
}

#search-button-div {
  width: 380px;
  margin: 0;
}

#logout-button {
  all: unset;
  z-index: 1;
  font-size: 1.2em;
  font-weight: 200;
  width: 100%;
  height: 100%;
  text-align: center;
}

#logout-button:hover {
  color: #2D3142;
}

#login-form-button{
  all: unset;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-weight: 300;
  font-size: 1.6em;
  text-align: center;
}

#login-form-button:hover {
  color: #2D3142;
}

#signup-form-button{
  all: unset;
  z-index: 1;
  font-size: 1.2em;
  width: 100%;
  height: 100%;
  font-weight: 300;
  text-align: center;
}

#signup-form-button:hover {
  color: #2D3142;
}

.cocktail-detail {
  text-align: center;
  color: white;
  font-size: 1.5em;
  padding-bottom: 1em;
  width: auto;
}
.cocktail-detail img {
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.1);
    padding: 3px;
}

#detail-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocktail-detail h3 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 18px;
}

.cocktail-detail p {
 margin-bottom: 3px;
 margin-top: 0%;
}

#comments-div{
  color: white;
  font-size: 1.2em;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
}

#comments-div h2{
  margin-top: 0%;
}

#add-comment-div {
  color: white;
  text-align: center;
  font-size: 1.5em;
  width: 70vw;
  align-items: center;
}

#add-comment-div form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  align-items: center;
}

#add-comment-div textarea {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1em;
  width: inherit;
  margin-bottom: 8px;
}

#add-comment-btn {
  all: unset;
  z-index: 1;
  font-size: 1.2em;
  width: 100%;
  height: 100%;
  font-weight: 300;
  text-align: center;
}

#add-comment-btn:hover {
  color: #2D3142;
}

#instructions-div{
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  padding-top: 1px;
  margin-top: 15px;

}
#instructions-div h3 {
  margin-top: 2px;
}

#to-left img{
 height: 45px;
  
}

#fav-button{
  all: unset;
  z-index: 1;
  font-size: 1.2em;
  width: 100%;
  height: 100%;
  font-weight: 300;
}

#fav-button:hover {
  color: #2D3142;
}

#fav-button-div{
  width: 250px;
}

.search-input{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#details-button{
  all: unset;
  z-index: 1;
  font-size: 1.2em;
  width: 100%;
  height: 100%;
  font-weight: 300;
}
#details-button:hover {
  color: #2D3142;
}

#profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

#edit-profile-button{
  all: unset;
  z-index: 1;
  font-size: 1.2em;
  width: 100%;
  height: 100%;
  font-weight: 300;
  text-align: center;
}

#edit-profile-button:hover {
  color: #2D3142;
}