<div id="edit-form">
  <h2>Edit Profile</h2>
  <form action="/edit-profile" method="POST">
    <label>Username
      <input type="text" name="proposedUser" placeholder="{{user.username}}" />
    </label>

    <label>Email
      <input class="edit-profile-input" type="email" name="proposedEmail" placeholder="{{user.email}}" />
    </label>

    <label>Password
      <input class="edit-profile-input" type="password" name="proposedPassword" placeholder="********" />
    </label>

    <div class="nav-button button-e" id="land-btn">
    <div id="circle"></div>
      <button id="signup-form-button" type="submit">Save Changes</button>
    </div>
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>